.playColor {
  background: #8c8c8c;
}

.redictButton {
  width: 64;
  height: 64;
  border-radius: 32px;
  padding: 16px;
}

.toggleButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.activated {
  background-color: #404040;
}