.text {
  font-family: "Exo-Regular";
  font-size: 14px;
  color: #f2f2f2;
  padding: 5px 15px;
}

.container {
  background: #8c8c8c;
  border-radius: 4px;
}

.iconContainer {
  width: 32;
  height: 32;
  align-items: center;
  justify-content: center;
}