.container {
  height: 160px;
  padding: 24px;
  justify-content: space-between;
  background-color: #0d0d0d;
}

.buttonsContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}