.moreOptsIcon {
  width: 32;
  height: 32;
  align-items: center;
  justify-content: center;
}

.optText {
  font-family: "Exo-Regular";
  font-size: 14px;
  color: #404040;
  padding: 5px 15px;
}

.optsContainer {
  background: #ffffff;
  border-radius: 4px;
}